/* Website Name */
.siteName {
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

/* Short Description */
.shortDescription {
  font-size: 18px;
  line-height: 1.6;
  color: black;
  margin-bottom: 20px;
  max-width: 80%;
}

.firstContainer {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(130deg, #377daf, #55547b, #63b1dd);
  color: black;
}

/* Left Content - Title & Button */
.leftContent {
  width: 50%;
  margin-top: 200px;
  margin-left: 150px;
}

.leftContent h1 {
  font-size: 40px;
  margin-bottom: 10px;
  color: black;
}

.leftContent h2 {
  font-size: 60px;
  margin-bottom: 10px;
  color: black;
}

.leftContent p {
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.getStarted {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 6px;
  margin-top: 10px;
  background-color: #23345c;
  color: white;
  font-size: 20px;
  padding: 15px 40px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.getStarted:hover {
  background-color: #23345c53;
  color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

/* Right Content - Logo */
.rightContent {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightContent {
  flex: 1;
  height: 100vh;
  display: flex;
}

.logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
}
